.clearfix() {
  overflow: hidden;
  zoom:1;
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both;

  }
}

.font-face(@name, @file, @style: normal, @weight: normal) {
    font-family: @name;
    src: url('../fonts/@{file}.eot');
    src: url('../fonts/@{file}.eot?#iefix') format('embedded-opentype'),
         url('../fonts/@{file}.woff') format('woff'),
         url('../fonts/@{file}.ttf') format('truetype'),
         url('../fonts/TitilliumWeb-Light.svg#CreativeBlockBBBold') format('svg');
    font-style: @style;
    font-weight: @weight;
}
.font-basic(@_font: titillium-regular, @_size: 16px, @_weight: normal, @_color: white, @_upper: none, @_align: none, @_line: 1){
  font-family: @_font;
  font-size: @_size;
  font-weight: @_weight;
  color: @_color;
  text-transform: @_upper ;
  text-align: @_align;
  line-height: @_line;
}
.animation-basic(@_time: .3s){
  -webkit-transition: all @_time ease;
  -moz-transition: all @_time ease;
  -ms-transition: all @_time ease;
  -o-transition: all @_time ease;
  transition: all @_time ease;
}

.border-basic(@_size: 5px, @_border: none, @_bg: none, @_animate: none, @_time: .3s){
  -webkit-border-radius: @_size;
  border-radius: @_size;
  border: @_border;
  cursor: pointer;
  background: @_bg;
  & when (@_animate = true) {.animation-basic(@_time);}
}

.line(@_bg:black ,@_otsyup:10px ,@_dl:30%){
  &:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: @_dl;
    height: 2px;
    background:@_bg;
    margin-right:@_otsyup;
  }
  &:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: @_dl;
    height: 2px;
    background:@_bg;
    margin-left:@_otsyup;

  }
}
.href(){
  text-decoration: underline;
  color: #8c98fd;
}