ul li{
 list-style: none;
}
.modal-img-otstyp{
  padding: 10px;
}
.full{
  height: 100%;
}
h2{
  margin-top:0;
}
.border-none{
  border: none;
}
.header{
  border: none;
  background: #f8f8f8;
margin-left: 0;
margin-right: 0;
}
.logo{
  font-size: 40px;
 font-weight: 700;
}
.img-responsive{
display: inline-block;
}
.vizov{
  position: relative;
  padding: 5px 0 5px 12px;
  width: 80%;
margin: 15px 20px;
background: #99ff99;
}
.cirkl{
  font-size: 22px;
  border-radius: 18px;
  padding: 7px;
  border:1px solid black;
 position: absolute;
 top: -4px;
 left:-27px;
 color: green;
 background: yellow;
}
.header .otstup{
  padding-top: 15px;
}
form input[type="text"]{
  width: 100%;
 padding-left: 5px;
 margin-top: 5px;
}
.menu li{
font-size: 18px;
text-transform: uppercase;
}
.makosha{
  display: none;
}
.strelka:after{
  content: ">>"
}
.block-1{
padding:0;
}
.info-block{
  margin: 20px 0;
 padding: 3px;
}
.border{
  border:1px solid black; 
}
.valign{
padding-top: 25px;
}
.futer{
  padding-top: 20px;
 background: #f8f8f8;
}
.futer ul li:first-child{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.nomer{
  margin: 15px 0;
  position: relative;
  padding: 5px 5px 5px 20px;
  border: 1px solid black;
  background:  #99ff99;
  width: 70%;
}
.futer .otstup{
  padding-left: 50px;
}
/*2 сторінка*/
.gol{
  font-size: 20px;
}
.spisok{
padding: 15px 30px 15px 40px;
}
.futer ul li a, .spisok a{
  color: #777;
}
.futer ul li a:hover {
  color: #333;
}
 .spisok a:hover {
  color: #333;
}
.spisok li ul{
display: none;
 }
 .spisok li:hover ul{
  display: block;
 }
 .top{
  margin-top:10px;
 }
 table tr td {
  padding: 5px 10px 10px 0;
  font-size: 16px;
 }
 table tr td:first-child {
  font-weight: 700;
 }
 .vs{
  font-size: 18px;
 }
 .pric{
  margin-top:40px;
  font-weight: 700;
  font-size: 21px;
 }
  .pric span:last-child{
    font-size: 25px;
    padding-left: 15px;
  }
  .knopka{
     margin-top:50px;
  }
  .buy{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    padding: 10px 23%;
    background: red;
  }
  .buy:hover{
    background: yellow;
  }
  .choice{
    font-size: 22px;
    margin: 30px 0 15px;
    text-transform: uppercase;
  }
  .choice a{
    padding-right: 40px;
  }
  .choice a:last-child{
    padding: 0;
  }
  .dignity{
    padding-left: 0;
  }
  .dignity li{
    list-style: disc;
    margin-left: 15px;
  }
  .prim{
    margin-bottom: 0px;
    font-size: 18px;
  }
  .sell-block{
    border: 1px solid  #e7e7e7;
    margin: 10px 1% 80px;
    padding: 5px 0;
    width: 23%;
  }
  .sell-block .otstup{
 padding-top:5px;
 display: inline-block;
  }
  .strong{
    font-size: 17px;
    font-weight: 700;
  }
@media only screen and (max-width:970px){
.valign{
  padding-top: 0;
}
 table tr td {
  padding: 2px 10px 2px 0;
  font-size: 16px;
 }
 .knopka{
     margin-top:10px;
  }
  .pric{
  margin-top:10px;
 }
 .sell-block{
  margin-bottom: 15px;
 }
}
@media only screen and (max-width:768px){
.makosha{
  display: inline-block;
}
.spisok li ul{
display: block;
padding-left: 0;
 }
.display-none{
  display: none;
}
.text{
  text-align: center;
}
  .sell-block{
    margin: 2%;
  }
}
@media only screen and (max-width:420px){
  .sell-block{
    width: 90%;
    margin: 2% 5%;
  }
}
